@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Typography */
  body {
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 113.188%; /* 14.714px */
    letter-spacing: 0.5px;
  }
  h1 {
    font-family: Roboto;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 87.688%; /* 37.706px */
  }
  h1 span {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: 400;
    line-height: 87.688%;
  }

  h2 {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.688%; /* 18.664px */
    letter-spacing: 0.0313rem;
  }

  blockquote {
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 102.188%; /* 2.23538rem */
    letter-spacing: 0.03125rem;
  }

  p {
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.188%; /* 14.714px */
    letter-spacing: 0.0313rem;
  }

  /* Spaces */
  .contenido {
    margin: 0 1.125rem;
  }

  .contenido-lg {
    margin: 0 2.1875rem;
  }
}

/*menu movile*/
label input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 55px;
  height: 4px;
  background: #f1faee;
  display: inline-block;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 0.3s ease;
  right: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
  width: 65px;
}

.bar span.bottom {
  bottom: 0;
}

label input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 50px;
  left: 3px;
  border-radius: 30px;
}

label input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 50px;
  bottom: 1px;
  box-shadow: 0 0 10px #495057;
  border-radius: 30px;
}

label input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

.bg-herohome {
  position: relative;
  background: url(../assets/home/homebanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gradientdown {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 26.04%,
    rgba(34, 34, 34, 0) 100%
  );
  opacity: 0.55000011920929;
  mix-blend-mode: multiply;
}

/*Para que no se muestre el la barra de scroll tanto en Chrome como en Firefox y otros navegadores ;)*/
#carrusel ,#cards-projects {
  scrollbar-width: none; /* Para navegadores compatibles con la especificación reciente */
  -ms-overflow-style: none; /* Para versiones más antiguas de Microsoft Edge */
}

#carrusel::-webkit-scrollbar , #cards-projects::-webkit-scrollbar {
  display: none; /* Para navegadores basados en WebKit (Chrome, Safari, Opera) */
}
